#timer-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
}

@media (max-width: 900px) {
    #timer-page {
        flex-direction: column;
    }
}
