.timer-form, .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    background-color: #26273d;
    color: #fff;
    width: 100%;
    padding: 50px;
    margin: 20px;
}

.timer-form {
    font-family: "Open Sans", sans-serif;
}

.form-container {
    width: 300px;
    height: 400px;
    color: #a2a4cb;
    gap: 24px;
}

.timer-form h2 {
    margin-bottom: 20px;
}

.timer-form label,
.timer-form input {
    margin-bottom: 10px;
    color: #fff;
}

.timer-form input {
    width: 100%;
    font-size: 16px;
    background-color: #26273d;
}

.clock-icon-container {
    width: 100px;
    height: 200px;
}

.clock-icon-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.timer-input-container {
    display: flex;
    gap: 8px;
}
