button {
    background-color: transparent;
    border: 1px solid #606170;
    color: #ffffff;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    height: auto;
    width: 30%;
    font-size: 16px;
}

button:disabled {
    opacity: 0.5;
}

button:hover {
    background-color: #606170;
}
